html, body {
  font-family: 'Lato', sans-serif;
  background-image: url(./images/imgDés.jpg);
  background-size: auto auto;
  width: 100vw;
  height: 100vh;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sectionOne {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  animation-name: glissage;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;

}


/*Small start animation*/
@keyframes glissage {
  from{right: 100%;}
  25%{right: 75%;}
  50%{right: 50%;}
  75%{right: 25%;}
  100%{right: 0%}

}

h1 {
  text-align: center;
  color: #5afc09;
  padding: 10px;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.button {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: 2px solid #5afc09;
}

/*Interface Game*/
.sectionGame {
  background-color: greenyellow;
  background-position:center;
  width: 100vw;
  height: 100vh;
  display: block;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#newGameButton {
  display: flex;
  flex-direction: row;
  background: none;
  border: none
}

#newGame {
  margin-top: 3px;
  margin-right: 10px;
}

#newGameP {
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.sectionP1 > p {
  text-decoration: underline;
}

.sectionP1 {
  display: block;
  position: relative;
  float: left;
  padding-left: 15px;
}

.sectionP2 > p {
  text-decoration: underline;
}

.sectionP2 {
  display: block;
  position: relative;
  float: right;
  padding-right: 15px;
}

#gamerOne {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

#gamerTwo {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rollButtonDiv {
  display: block;
  position: relative;
  float: left;
  top: 480px;
}

#rollButton {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: none;
  border: none
}

#roll {
  margin-top: 3px;
  
}

#rollP {
  padding-top: 10px;
  padding-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.holdscoreButtonDiv {
  display: block;
  position: relative;
  float: right;
  top: 480px;
}

#holdscoreButton {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: none;
  border: none
}

#holdscore {
  margin-top: 3px;
  
}

#holdscoreP {
  padding-top: 10px;
  padding-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}


  

/*Mobile screen*/
@media only screen and (max-width: 640px) {
  body {
    background-size: auto auto;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;     
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }
  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }
  /* Inscription interface*/

  .sectionGame {
    background-color: greenyellow;
    background-position:center;
    width: 100vw;
    height: 100vh;
    display: block;
    
  }  

  #newGameButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none
  }
  
  #newGame {
    margin-top: 3px;
    margin-right: 10px;
  }
  #newGameP {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sectionP1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
  }

  
  
  .sectionP2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 15px;
  }

  .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .rollButtonDiv {
    display: block;
    position: relative;
    float: left;
    top: 480px;
    padding-left: 15px;
  }

  #rollButton {
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
  }

  #roll {
    margin-top: 3px;
  }
  
  #rollP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }

  .holdscoreButtonDiv {
    display: block;
    position: relative;
    float: right;
    top: 480px;
    padding-right: 15px;
  }

  #holdscoreButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    border: none;
  }
  
  #holdscore {
    margin-top: 3px;
  }
  
  #holdscoreP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
}

/*tablette screen*/
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;      
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }

  /* Inscription interface*/
  
  .sectionGame {
    background-color: greenyellow;
    background-position:center;
    width: 100vw;
    height: 100vh;
    display: block;
  }  

  #newGameButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none
  }
  
  #newGame {
    margin-top: 3px;
    margin-right: 10px;
  }

  #newGameP {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sectionP1 {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  
  .sectionP2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
  }

  .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .rollButtonDiv {
    display: block;
    position: relative;
    padding-left: 15px;
    float: left;
    top: 480px;
  }

  #rollButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  #roll {
    margin-top: 3px;
    
  }
  
  #rollP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }

  .holdscoreButtonDiv {
    display: block;
    position: relative;
    padding-right: 15px;
    float: right;
    top: 480px;
  }

  #holdscoreButton {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  #holdscore {
    margin-top: 3px;
    
  }
  
  #holdscoreP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
}

/*portable screen*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: auto;
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }

  /* Inscription interface*/
  
  .sectionGame {
    background-color: greenyellow;
    background-position:center;
    width: 100vw;
    height: 100vh;
    display: block;
  }  

  #newGameButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none
  }
  
  #newGame {
    margin-top: 3px;
    margin-right: 10px;
  }

  #newGameP {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sectionP1 {
    display: block;
    position: relative;
    float: left;
  }
  
  .sectionP2 {
    display: block;
    position: relative;
    float: right;
  }

  #p1Gamer {
    text-align: center;
  }

  #p2Gamer {
    text-align: center;
  }

  .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .rollButtonDiv {
    display: block;
    position: relative;
    padding-left: 15px;
    float: left;
    top: 480px;
  }

  #rollButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  #roll {
    margin-top: 3px;
  }
  
  #rollP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }

  .holdscoreButtonDiv {
    display: block;
    position: relative;
    padding-right: 15px;
    float: right;
    top: 480px;
  }

  #holdscoreButton {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  #holdscore {
    margin-top: 3px;
    
  }
  
  #holdscoreP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
}

/*biggest screen*/
@media only screen and (min-width: 1025) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .button {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  /* Inscription interface*/
  
  .sectionGame {
    background-color: greenyellow;
    background-position:center;
    width: 100vw;
    height: 100vh;
    display: block;
  }  

  #newGameButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none
  }

  #newGame {
    margin-top: 3px;
    margin-right: 10px;
  }

  #newGameP {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sectionP1 {
    display: block;
    position: relative;
    float: left;
  }
  
  .sectionP2 {
    display: block;
    position: relative;
    float: right;
  }

  #p1Gamer {
    text-align: center;
  }

  #p2Gamer {
    text-align: center;
  }

  .div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .rollButtonDiv {
    display: block;
    position: relative;
    padding-left: 15px;
    float: left;
    top: 480px;
  }

  #rollButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  #roll {
    margin-top: 3px;
    
  }
  
  #rollP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }

  .holdscoreButtonDiv {
    display: block;
    position: relative;
    padding-right: 15px;
    float: right;
    top: 480px;
  }

  #holdscoreButton {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  #holdscore {
    margin-top: 3px;
    
  }
  
  #holdscoreP {
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-decoration: underline;
  }
}