html, body {
  font-family: 'Lato', sans-serif;
  background-image: url(./images/imgDés.jpg);
  background-size: auto auto;
  width: 100vw;
  height: 100vh;
  background-position: center;
}

.sectionOne {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  animation-name: glissage;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;

}


/*Small start animation*/
@keyframes glissage {
  from{right: 100%;}
  25%{right: 75%;}
  50%{right: 50%;}
  75%{right: 25%;}
  100%{right: 0%}

}

h1 {
  text-align: center;
  color: #5afc09;
  padding: 10px;
}

.buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.button {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: 2px solid #5afc09;
}

/* Inscription interface*/
.sectionTwo {
  display: block;
  text-align: center;
  margin-top: auto;
  
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #5afc09;
}

#div1, #div2 {
  margin: 5px;
}

.buttonP1, .buttonP2 {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: 2px solid #5afc09;
  color: black;
}

.buttonP2 > a {
  text-decoration: none;
  color: black;
  
}

.buttonP2 > a:hover {
  color: #5afc09;
}

/*Interface Game*/
.sectionGame {
  background-color: greenyellow;
  width: 100vw;
  height: 100vh;
}

.playingGround {
  border: black 2px solid;
  width: 95%;
  height: 95%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  

/*Mobile screen*/
@media only screen and (max-width: 640px) {
  body {
    background-size: auto auto;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;     
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
    
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }
  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }
  /* Inscription interface*/
  
  .playingGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  #newGame {
    margin-top: 3px;
    margin-right: 10px;
  }
  #newGameP {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sectionP1 {
    display: flex;
    flex-direction: column;
  }
  
  .sectionP2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*tablette screen*/
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;      
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }

  /* Inscription interface*/
  .sectionTwo {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: space-between;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #5afc09;
  }
  
  #div1, #div2 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonP1, .buttonP2 {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: 2px solid #5afc09;
    color: black;
    
  }

  .buttonP2 > a {
    text-decoration: none;
    color: black;
  }

  .buttonP2 > a:hover {
    color: #5afc09;
  }
}

/*portable screen*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: auto;
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  .button4 {
    background-color: white;
  }
  .button5 {
    background-color: white;
  }

  .button4:hover {
    background-color: #00fffb;
  }
  
  .button5:hover {
    background-color: #00fffb;
  }

  /* Inscription interface*/
  .sectionTwo {
    display: block;
    text-align: center;
    margin-top: auto;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #5afc09;
  }
  
  #div1, #div2 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonP1, .buttonP2 {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: 2px solid #5afc09;
    color: black;
    
  }

  .buttonP2 > a {
    text-decoration: none;
    color: black;
  }

  .buttonP2 > a:hover {
    color: #5afc09;
  }
}

/*biggest screen*/
@media only screen and (min-width: 1025) {
  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-top: auto;
  }
  
  
  h1 {
    text-align: center;
    color: #5afc09;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .button {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  /* Inscription interface*/
  .sectionTwo {
    display: block;
    text-align: center;
    margin-top: auto;
    
  }
  
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #5afc09;
  }

  #div1, #div2 {
    margin: 5px;
    
  }

  .buttonP1, .buttonP2 {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: 2px solid #5afc09;
    color: black;
    
  }

  .buttonP2 > a {
    text-decoration: none;
    color: black;
  }

  .buttonP2 > a:hover {
    color: #5afc09;
  }
}